.controlPanel {
  display: flex;
  justify-content: space-between;

  padding: 15px;
}

.buttons {
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 3px;
}

.buttons > button {
  padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;

  background-color: white;
  color: black;
}

.buttons > button:hover {
  background-color: #bbb;
  border-color: #666;
}
