.paletteContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3px;

  padding: 5px;
  max-height: 400px;

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-color: black #ccc;
  scrollbar-width: thin;
}

.palette {
  width: 48%;
  height: 150px;

  border-radius: 15px;
  overflow: hidden;

  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.palette:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 576px) {
  .paletteContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
  }

  .palette {
    width: 90%;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  padding: 5px;
  gap: 5px;
}

.button {
  width: 100%;
  margin-top: 10px;

  padding: 5px 10px;

  font-weight: bold;
}

@media only screen and (min-width: 576px) {
  .button {
    width: unset;
    flex: 1;
    margin-top: 10px;
  }
}
