/* Globals */
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --main: #272829;
    --secondary: #D8D9DA;
    --tertiary: #61677A;
    --bg: #FFF6E0;

    --titleFont: 'pacifico';
}

h1, h2, h3 {
    font-family: var(--titleFont);
}


.floattingButton {
    display: block;
    /* width: 25px; */
    height: 25px;
    padding: 15px;

    border-radius: 25px;
    background-color: black;
    color: white;
    
    position: absolute;

    left: 10px;
    bottom: 10px;

    font-size: 1.5em;
    font-weight: bold;

}

body {background-color: var(--white);}

@font-face {
    font-family: 'nidea';
    src: url('/src/fonts/Pacifico-Regular.ttf');
}

.canva {
    width: 100%;
    border-radius: 25px;
    display: none;
    margin-top: 7px;
    height: 200px;

    flex-wrap: wrap ;
}

.paletteColor {
    position: relative;


}

    .paletteColor .colorName {
        position: absolute;
        bottom: 5px;
        left: 5px;

        background-color: #0007;
        color: var(--secondary);

        border-radius: 5px;
        padding: 2px 5px;

        cursor: pointer;

        font-weight: bold;

        transition: background-color .4s ease, color .4s ease .1s;
        
    }

    .colorName:hover {
        background-color: #000c;
        color: var(--tertiary)

    }

/* Header */
header {
    background-color: var(--main);
    color: #fff;
}


/* Main */

section {
    background-color: var(--secondary);
}

