/* Globals */
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --main: #826854;
    --secondary: #D8D9DA;
    --tertiary: #61677A;
    --bg: #FFF6E0;

    --titleFont: 'pacifico';
}

h1, h2, h3 {
    font-family: var(--titleFont);
}


.floattingButton {
    display: block;
    /* width: 25px; */
    height: 25px;
    padding: 15px;

    border-radius: 25px;
    background-color: black;
    color: white;
    
    position: absolute;

    left: 10px;
    bottom: 10px;

    font-size: 1.5em;
    font-weight: bold;

}

body {background-color: var(--white);}

@font-face {
    font-family: 'nidea';
    src: url('/src/fonts/Pacifico-Regular.ttf');
}

.canva {
    border-radius: 15px;
    display: none;
    margin-top: 7px;
    width: 100%;
    height: 100%;

    flex-wrap: wrap;
    /* justify-content: center; */
    overflow: hidden;
    position: relative;
}

.historyCanva, .storedCanva {
    width: 48%;
    height: 100px;

    margin: 3px 0;

    transition: transform .3s ease;
    cursor: pointer;
}

.storedCanva {
    width: 49%;
}

.historyCanva:hover, .storedCanva:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 786px) {
    .historyCanva {
        width: 30%;
    }

    .storedCanva {
        width: 12%;
    }
}

.paletteColor {
    position: relative;


}

    .paletteColor .colorName {
        position: absolute;
        bottom: 5px;
        left: 5px;

        background-color: #0007;
        color: var(--secondary);

        border-radius: 5px;
        padding: 2px 5px;

        cursor: pointer;

        font-weight: bold;

        transition: background-color .4s ease, color .4s ease .1s;
        
    }

    .colorName:hover {
        background-color: #000c;
        color: var(--tertiary)

    }

/* Header */
header {
    background-color: var(--main);
    color: #fff;
}


/* Main */
main {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

section {
    background-color: var(--secondary);
    width: 100%;
}

@media only screen and (min-width: 786px) {
    section {
        width: 48%;
    }   
}



.historial {
    max-height: 40vh;
    overflow-y: scroll;
}

    #limpiarHistorial {
        cursor: pointer;
    }