.clipboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  margin: 5px 0;

  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.clipboard p {
  font-size: 14px;
  color: #333;

  max-width: 80%;

  text-overflow: ellipsis;
}

.clipboard .copyButton {
  max-width: 20%;
}
